.block_ {
    color: black;
    display: block;
    font-family: "Calibri Light", sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -0.5pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right
    }
.block_1 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_2 {
    color: black;
    display: list-item;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 36pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_3 {
    color: black;
    display: list-item;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0
    }
.block_4 {
    color: black;
    display: list-item;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0
    }
.block_5 {
    color: #5A5A5A;
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    letter-spacing: 0.75pt;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_6 {
    background-color: #000;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.83333em;
    letter-spacing: -0.1pt;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 36pt;
    margin-top: 8pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_7 {
    background-color: #000;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.83333em;
    letter-spacing: -0.1pt;
    margin-bottom: 8pt;
    margin-left: 36pt;
    margin-right: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_8 {
    background-color: #000;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.83333em;
    letter-spacing: -0.1pt;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_9 {
    background-color: #000;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.83333em;
    letter-spacing: -0.1pt;
    margin-bottom: 8pt;
    margin-left: 36pt;
    margin-right: 36pt;
    margin-top: 8pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_10 {
    background-color: #000;
    color: black;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 1pt
    }
.block_11 {
    background-color: #000;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1pt;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 0
    }
.block_12 {
    background-color: #000;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.83333em;
    letter-spacing: -0.1pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 36pt;
    margin-top: 8pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_13 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_14 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_15 {
    background-color: #000;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 36pt;
    margin-top: 2ex;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_16 {
    background-color: #000;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_17 {
    background-color: #000;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.83333em;
    margin-bottom: 2ex;
    margin-left: 36pt;
    margin-right: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_18 {
    color: #FFF;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_19 {
    color: #000;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_20 {
    background-color: #000;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_21 {
    background-color: #000;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.83333em;
    margin-bottom: 8pt;
    margin-left: 36pt;
    margin-right: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre {
    color: #D0CECE;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre2 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre3 {
    font-style: italic;
    line-height: 1.2
    }
.calibre4 {
    display: block
    }
.calibre5 {
    white-space: pre-wrap
    }
.calibre6 {
    height: 180pt;
    line-height: 1.2;
    width: 380pt
    }
.calibre7 {
    height: 535pt;
    line-height: 1.2;
    width: 321pt
    }
.calibre8 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre9 {
    display: table-row;
    vertical-align: inherit
    }
.frame_ {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.list_ {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.tab {
    white-space: pre
    }
.table_ {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-collapse: collapse;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-spacing: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.td_ {
    background-color: transparent;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.td_1 {
    background-color: transparent;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.td_2 {
    background-color: transparent;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.td_3 {
    background-color: transparent;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.td_4 {
    background-color: #F00;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.td_5 {
    background-color: #F00;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.td_6 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.td_7 {
    background-color: #0D0D0D;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.td_8 {
    background-color: transparent;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.td_9 {
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.td_10 {
    background-color: #F00;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.td_11 {
    background-color: #F00;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0.5ex;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: top;
    width: 117pt
    }
.text_ {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.text_1 {
    color: #00B050;
    font-weight: bold;
    line-height: 1.2
    }
.text_2 {
    color: #0563C1;
    line-height: 1.2;
    text-decoration: underline
    }
.text_3 {
    color: #CC7832
    }
.text_4 {
    color: #A9B7C6
    }
.text_5 {
    color: #5B9BD5
    }
.text_6 {
    color: #6A8759
    }
.text_7 {
    color: #6897BB
    }
.text_8 {
    color: #8888C6
    }
.text_9 {
    color: #FFC66D
    }
.text_10 {
    color: #9876AA
    }
.text_11 {
    letter-spacing: -0.1pt
    }
.text_12 {
    color: #808080
    }
.text_13 {
    color: #AA4926
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

