.block_ {
    color: black;
    display: block;
    font-family: "Calibri Light", sans-serif;
    font-size: 1.29032em;
    font-weight: bold;
    letter-spacing: -0.5pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.77419em;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_2 {
    display: block;
    font-size: 1.29032em;
    font-weight: bold;
    letter-spacing: 0.75pt;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_3 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_4 {
    background-color: #404040;
    color: #5B9BD5;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 1pt
    }
.block_5 {
    background-color: #404040;
    color: #5B9BD5;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1pt;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 0
    }
.block_6 {
    color: black;
    display: list-item;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 36pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_7 {
    color: black;
    display: list-item;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0
    }
.block_8 {
    color: black;
    display: list-item;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0
    }
.block_9 {
    background-color: #404040;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    color: black;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1pt;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 1pt
    }
.block_10 {
    background-color: #404040;
    color: black;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 1pt
    }
.block_11 {
    background-color: #404040;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1pt;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 0
    }
.block_12 {
    background-color: #404040;
    color: black;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 0
    }
.calibre {
    color: #5A5A5A;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    font-style: italic;
    line-height: 1.2
    }
.calibre2 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre3 {
    white-space: pre-wrap
    }
.calibre4 {
    display: block
    }
.frame_ {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.list_ {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.tab {
    line-height: 1.2;
    white-space: pre
    }
.text_ {
    color: #CC7832
    }
.text_1 {
    color: #5B9BD5
    }
.text_2 {
    color: #FFC66D
    }
.text_3 {
    color: #8888C6
    }
.text_4 {
    color: #6A8759
    }
.text_5 {
    color: #6897BB
    }
.text_6 {
    color: #808080
    }
.text_7 {
    color: #A9B7C6
    }
.text_8 {
    color: #AA4926
    }
.text_9 {
    font-family: "Calibri", sans-serif;
    font-size: 1.29167em;
    line-height: 1.2
    }
.text_10 {
    background-color: #404040;
    color: #5B9BD5;
    font-family: "Courier New", monospace;
    font-size: 1em;
    line-height: 1.2
    }
.text_11 {
    color: #A9B7C6;
    font-size: 1em
    }
.text_12 {
    color: #6897BB;
    font-size: 1em
    }
.text_13 {
    color: #CC7832;
    font-size: 1em
    }
.text_14 {
    color: #AA4926;
    font-size: 1em
    }
.text_15 {
    color: #8888C6;
    font-size: 1em
    }
.text_16 {
    color: #5B9BD5;
    font-size: 1em
    }
.text_17 {
    color: #CC7832;
    font-size: 0.83333em
    }
.text_18 {
    color: #A9B7C6;
    font-size: 0.83333em
    }
.text_19 {
    color: #8888C6;
    font-size: 0.83333em
    }
.text_20 {
    color: #6A8759;
    font-size: 0.83333em
    }
.text_21 {
    color: #808080;
    font-size: 0.83333em
    }
.text_22 {
    color: #0563C1;
    line-height: 1.2;
    text-decoration: underline
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

